/* CSS Version 1.0 https: //github.com/stadium-software/button-bar */
:root {
    --button-bar-deselected-button-background-color: white;
    --button-bar-deselected-button-font-color: #3399ff;
    --button-bar-border-color: white;
}